<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <main class="p-4">
        <div id="riscos-container">
            <div class="mb-4 card-item" data-risco-id="123">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Título do Risco (vindo do backend)</h5>
                        <p class="card-text">Pequena descrição do risco (vindo do backend)...</p>
                        <button class="btn btn-warning btn-ver-mais" data-bs-toggle="modal" data-bs-target="#detalhesRiscoModal" data-risco-id="123">Ver mais</button>
                    </div>
                </div>
            </div>
        </div>
    </main>    
{% endblock %}
